%tr
  %td String attribute
  %td= editable page, :name
  %td
    %code = editable page, :name
%tr
  %td Boolean attribute Yes/no
  %td= editable page, :active
  %td
    %code = editable page, :active
%tr
  %td Boolean attribute with custom source
  %td= editable page, :active, data: { source: ['Active', 'Disabled'] }
  %td
    %code = editable page, :active, data: { source: ['Active', 'Disabled'] }
%tr
  %td Globalize gem example
  %td= editable page, :title, nested: :translations, nid: page.translation.id
  %td
    %code = editable page, :title, nested: :translations, nid: page.translation.id
%tr
  %td Select from given source
  %td= editable page, :name, type: :select, data: { source: ['iPhone', 'iPad', 'MacBook'] }
  %td
    %code = editable page, :name, type: :select, data: { source: ['iPhone', 'iPad', 'MacBook'] }
%tr
  %td Custom value (Upcased name)
  %td= editable page, :name, value: page.name.upcase
  %td
    %code = editable page, :name, value: page.name.upcase
%tr
  %td Custom exception
  %td= editable page, :name, e: "You're not authorized"
  %td
    %code = editable page, :name, e: "You're not authorized"
%tr
  %td Custom title
  %td= editable page, :name, title: 'Your name please :)'
  %td
    %code = editable page, :name, title: 'Your name please :)'
%tr
  %td Custom class (float right)
  %td= editable page, :name, class: 'pull-right'
  %td
    %code = editable page, :name, class: 'pull-right'
%tr
  %td Custom tag (its header)
  %td= editable page, :name, tag: 'h3'
  %td
    %code = editable page, :name, tag: 'h3'
%tr
  %td Textarea
  %td= editable page, :description, type: :textarea
  %td
    %code = editable page, :description, type: :textarea
%tr
  %td Wysihtml5
  %td= editable page, :description, type: :wysihtml5
  %td
    %code = editable page, :description, type: :wysihtml5